body {
    background-color: #8184a0;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    color: white;
}

header {
    background-color: rgb(24, 54, 65);
}

footer {
    background-color: rgb(24, 54, 65);
}

main {
    background-color: beige;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    display: inline-block;
}

section {
    background-color:gainsboro;
    float: left;
    width: 30%;
    margin: 5px;
    padding: 5px;
}

h3 {
    text-align: left;
}

p {
    text-align: left;
    font-family: verdana;
    font-size: 20px;
}